[submodule "eigen"]
	path = eigen
	url = https://github.com/libigl/eigen
[submodule "DirectXMath"]
	path = DirectXMath
	url = https://github.com/Microsoft/DirectXMath
[submodule "old/subhook"]
	path = old/subhook
	url = https://github.com/Zeex/subhook
[submodule "old/minhook"]
	path = old/minhook
	url = https://github.com/TsudaKageyu/minhook
